<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="layout/layout">
<main layout:fragment="content">
        <h1>ABOUT ME</h1>
        <ul>
            <li>간단한 자기소개(개발자로써)</li>
            <li> <a href="https://github.com/oshion89/test18_hoo" target='_blank'> THIS PAGE ON GITHUB </a> </li>
            <li>
                <ul>
                    <li>프로젝트 설명</li>
                    <li> <a href="https://greendongwha.com" target='_blank'> 동화자연마루 </a> </li>
                    <li> <a href="https://m-park.co.kr" target='_blank'> 엠파크 </a> </li>
                    <li>사용한 기술 스택 언어, 프레임워크를 Frontend, Backend 나눠서 보기 좋게 정리합니다.</li>
                    <li>기능 설명 프로젝트 주요 기능을 개발 용어를 최대한 사용하여 정리합니다.</li>
                    <li>담당역할 및 성과 나의 포지션과 어떤 기능을 어떻게 구현했는지 간단히 작성합니다.</li>
                </ul>
            </li>
            <li>주요 프로젝트</li>
            <li>학력 / 이력</li>
        </ul>


    <!--
     JAVA 11
    Tomcat 8.5
    Spring boot 2.5.3
    lombok
    mybatis 2.2.0
    mysql
    aws-mysql-jdbc 1.0.0
    validation
    json-simple
    //S3
    spring-cloud-starter-aws 2.0.1
    quartz
    mssql-jdbc 6.1.0
    spring-boot-starter-data-redis
    google-analytics-data:0.11.9
    spring-boot-starter-security
    jjwt-api 0.11.2

     -->

</main>
</html>