<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="layout/layout">
<main layout:fragment="content">

    <h3 class="font-bold"><i class="fas fa-book-open"></i> ABOUT ME</h3>
    <p class="ms-4">WAS, JAVA, Spring boot, sql, redis, Cloud 에 관심이 있는 백엔드 개발자의 <br> 해본것 유용했던것을 기록하는 공간입니다.</p>

    <div>
        <h3 class="font-bold">CONTACT</h3>
        <p class="ms-4">
            <span>Email : </span>
            <a href="mailto:oshion89@gmail.com" target='_blank'>oshion89@gmail.com</a>
        </p>
        <p class="ms-4">
            <span>Github : </span>
            <a href="https://github.com/oshion89/test18_hoo" target='_blank'> this page </a>
        </p>
    </div>


    <div>
        <h3 class="font-bold">SKILLS</h3>
        <div class="ms-4">
            <span>Laguage : </span>
            <ul>
                <li>JAVA</li>
                <li>C</li>
            </ul>
        </div>
        <div class="ms-4">
            <span>RDMS : </span>
            <ul>
                <li>MYSQL</li>
                <li>MSSQL</li>
                <li>MARIA</li>
                <li>ORACLE</li>
            </ul>
        </div>
        <div class="ms-4">
            <span>Framework : </span>
            <ul>
                <li>SPRING BOOT</li>
                <ul>
                    <li>redis</li>
                    <li>mybatis</li>
                    <li>quartz</li>
                    <li>security</li>
                    <li>jwt</li>
                    <li>lombok</li>
                </ul>
            </ul>
        </div>
        <div class="ms-4">
            <span>WAS : </span>
            <ul>
                <li>Tomcat</li>
                <li>ShellScript</li>
            </ul>
        </div>
        <div class="ms-4">
            <span>AWS : </span>
            <ul>
                <li>EC2</li>
                <li>RDS</li>
                <li>S3</li>
                <li>ElasticCache</li>
            </ul>
        </div>
        <div class="ms-4">
            <span>ETC : </span>
            <ul>
                <li>Google Analytics</li>
            </ul>
        </div>
    </div>

    <div>
        <h3 class="font-bold">CAREER</h3>
        <div class="ms-4">
            <h5>동화기업</h5>
            <a href="https://greendongwha.com" target='_blank'> <img src="assets/main/greendongwha_main.png" alt="greendongwha" width="400" height="300"> </a>

            <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#contentLayout1">
               BackEnd 개발 및 서버 개발
               <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="contentLayout1">
                <p>tttttttttttttteeeeeeeeeeeeeeeesssssssssssscccccccccc</p>
            </div>

            <a href="https://www.m-park.co.kr" target='_blank'><img src="assets/main/mpark_main.png" alt="mpark" width="400" height="300"></a>

            <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#contentLayout2">
                BackEnd 개발 및 서버 개발
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="contentLayout2">
                <p>tttttttttttttteeeeeeeeeeeeeeeesssssssssssscccccccccc</p>
            </div>



        </div>
        <div class="ms-4">
            <h5>삼표</h5>
            <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#contentLayout3">
                Android Mobile & Tablet 개발 및 유지보수
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="contentLayout3">
                <div>
                    <pre>
    회사 : 삼표
    업무 : Android Mobile & Tablet 개발 및 유지보수
    부서 : SW팀
    근무기간 : 2019.9 ~ 2021.11

    [주요업무]
    레미콘 품질, 재고, 예정, 유류 발주 등 Android Mobile 시스템 개발 및 유지보수
    PC(Precast Concrete) Tablet 품질검사 및 CheckList 출력 기능 개발,
    PC 예정 Tablet 생산 예정 전송, PC 생산 도면 확인 Mobile 개발,
    PC 생산 실적 등록 Mobile 프로그램 개발,
    원거리 QR 스캐너에 탑재된 Mobile 프로그램 개발, 등록된 재고를 확인하는 Web Kakao map 기반 Mobile 개발


    1. PC(Precast Concrete) Tablet 품질검사
    - 개발환경 : Android Studio, Tomcat
    - 사용언어 : Java, JSP, Mssql
    - 업무내용 : 생산 단계 별 PC 품질 검사 Tablet 체크리스트 체크, 생산 예정 리스트 중 도면 보기 기능 개발, 체크된 체크리스트 PDF로 변환 및 출력

    2. PC Mobile생산 도면 관리
    - 개발환경 : Android Studio
    - 사용언어 : Java, Mssql, ASPOSE(Cad File to PDF), 도면관리업체 API
    - 업무내용 : 도면관리 업체의 정의된 Web API 에 접근하여 Cad File Download 후 PDF로 변환하여 화면에 출력, 프로젝트 별 또는 생산 예정 제품 별 도면 확인 가능

    3. PC Mobile 스캐너 재고등록 및 재고관리
    - 개발환경 : Android Studio, Tomcat
    - 사용언어 : Java, Mssql, 코그넥스 SDK(QR스캐너사 제공 SDK)
    - 업무내용 : 원거리 QR스캐너에서 제공되는 SDK를 사용하여 안드로이드 시스템을 구성 후 스캐너에 탑재, 원거리에서 QR스캔 시 Mobile GPS 현재 위치 파악 후 재고로 등록, 재고 위치 이동 및 출하 관리

    4. PC Tablet 생산 오더 전송
    - 개발환경 : Android Studio, Tomcat
    - 사용언어 : Java, Mssql
    - 업무내용 : PC 생산 예정인 제품리스트 중 작업자가 선택 하여 레미콘 Mixer로 생산 예정 오더 전송

    5. PC Mobile 생산 실적 등록
    - 개발환경 : Android Studio, Tomcat
    - 사용언어 : Java, Mssql
    - 업무내용 : 생산된 PC 제품을 리스트에서 검색 후 ERP 상 제품 생산 실적 등록

    6. 골재 Mobile 탱크로리 실적전송
    - 개발환경 : Android Studio, Tomcat
    - 사용언어 : Java, Mssql
    - 업무내용 : 기존 PDA로 이용되던 탱크로리 주유 시스템을 실시간 데이터 전송이 가능한 Android Mobile 시스템으로 개발, 탱크로리 컨트롤러와 Bluetooth로 정해진 프로토콜로 통신하여 실시간으로 주유 결과 서버로 전송


    7. 레미콘 Mobile 예정, 배합, 재고 관리
    - 개발환경 : Eclipse
    - 사용언어 : Java, Mssql
    - 업무내용 : 레미콘을 생산하기 위한 배합 및 현재의 사일로 재고 등 전반적인 생산에 관련한 데이터 모니터링 및 조작


    8. Apache Tomcat WebServer
    - 개발환경 : Apache Tomcat, Notepad++
    - 사용언어 : Java, JSP, Mssql
    - 업무내용 : Android에서 Json 포맷으로 Http 통신을 받아 결과를 리턴하는 JSP Server, Mssql DB Connection 및 비즈니스 로직 구성

    9. Delphi Window Server
    - 개발환경 : Delphi7
    - 사용언어 : Delphi, Mssql
    - 업무내용 : Android Mobile 프로그램에서 Socket 통신으로 서버에서 연결되어 결과를 리턴하는 Window Server, Mssql DB Connection 및 비즈니스 로직 구성


    [업무성과]
    새로운 프로젝트인 제품 트래킹 시스템을 맡아 Tablet 제품검사를 개발 하였습니다. 그 결과 야외에서 제품을 검사하고 체크할 수 있었으며 더 나아가 해당 프로그램에서 각 제품에 대한 도면을 보고, 작성된 CheckList를 출력할 수 있도록 업데이트 되었습니다.

    도면을 볼 수 있는 Mobile 프로그램을 개발하여 관리직, 현장직 모두 도면을 볼 수 있게 되었으며, QR 코드를 제품에 마킹 후 QR스캐너를 통해 재고를 등록하고 실시간으로 재고를 확인 할 수 있는 기능을 업데이트 하였습니다.

    기존에 개발되어있던 레미콘, 주유관리 Mobile에 정유사 관리 Chart 를 넣는 등 사용자 편의 UI, UX개발을 진행 하였습니다.

    기존에 탱크로리에 사용하고 있던 PDA 단종으로 Mobile 로 해당 기능을 기존 프로토콜을 토대로 새로 개발하였으며 이로인해 기존에 없던 주유한 내역 조회 및 주유 로그확인, 실시간 주유 실적 전송이 가능하게 되었습니다.
                    </pre>
                </div>
            </div>
        </div>
        <div class="ms-4">
            <h5>참엔지니어링</h5>
            <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#contentLayout4">
                Display Repair 설비 자동화 및 Repair SW개발 및 유지보수
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="contentLayout4">
                <div>
                        <pre>
    회사 : 참엔지니어링
    업무 : Display Repair 설비 자동화 및 Repair SW개발 및 유지보수
    부서 : SW팀
    근무기간 : 2017.11 ~ 2019.8

    [주요업무]
    Display Repair 설비의 Hardware 제어 및 불량 DATA 의 상태 관리
    설비와 물류 프로그램 사이의 Message 통신 제어

    1. Hardware 제어 및 불량 DATA 관리
      - 개발환경 : Window MFC
      - 사용언어 : MFC C, Mysql, 그래픽MIL
      - 업무내용 : 검사설비에서 불량이 발견된 패널에 대해서 해당 좌표 Laser Repair 동작 SW구성 및 유지보수
                          검사가 끝난 불량에 대해서 불량 상태에 대하여 DATA 관리 및 전송 SW 및 데이터 관리
    2. 설비와 물류 프로그램 사이의 Message 통신 제어
      - 개발환경 : Window MFC
      - 사용언어 : MFC C, Mysql
      - 업무내용 : Repair 설비로 Panel 이 들어오기 위한 물류 시스템과 통신 확인 관리 물류 시스템 관리


    [업무성과]
    중국 광저우 LG Display 에서의 설비 SW Setup 으로 설비 안정화, 파주 LG Display 에서 자동불량판정 프로그램 개발, 동일한 불량에 대한 Macro Repair 기능 개발, 유지보수

    [퇴직사유]
    특정 한 장비의 SW개발 및 유지보수로 조금 더 다양한 개발 경험을 쌓고자 하였으며, 모바일 개발에도 관심이 있어 이직을 결심하게 되었습니다.

                        </pre>
                </div>
            </div>
        </div>
        <div class="ms-4">
            <h5>코니퍼</h5>
            <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#contentLayout5">
                SKT 메인 관리 시스템 차세대 프로젝트
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="contentLayout5">
                <div>
                        <pre>
    회사 : 코니퍼(주)
    프로젝트 : SKT 메인 관리 시스템 차세대 프로젝트
    부서 : 요금납부 팀 자동납부파트
    근무기간 : 2016.03 ~ 2017.05

    [주요업무]
    기존 Tobe 프로그램 웹 기반 서비스 프로그램으로 마이그레이션 개발 및 테스트 진행.
    테스트 후 서버 배포 전 형상관리 시스템으로 버전 관리.
    개발 프로그램 종류로는 Screen, Service, Batch로 구분되며, DB는 Oracle DB

    1. Screen
      - 개발환경 : websquare
      - 사용언어 : xml, javascript
      - 업무내용 : 자동납부 인출내역 조회, 인출 일정관리 등 고객이 직접 사용하는 화면을 구성, 제어

    2. Service
      - 개발환경 : ProFrame
      - 사용언어 : c, Oracle
      - 업무내용 : Screen에서 사용하게 되는 서비스 구성, 제어
                         단위테스트 후 서버로 배포
    3. Batch
      - 개발환경 : putty, shell, ultraEdit, notepad++
      - 사용언어 : c, Oracle
      - 업무내용 : 대용량 서비스프로그램으로 주로 가입신청, 요금수납 등에 주로 사용

    [업무성과]
    86개의 화면을 개발하였고, 43개의 서비스를 개발, 약 20의 배치를 개발하였습니다.
    프로그램 개발 후 자체 테스트, 단위테스트, 통합테스트를 마쳤습니다. 약 130 개의 프로그램을 오픈 전 운영 테스트까지 완료 후 운영으로 인수인계 하였습니다.
                        </pre>
                </div>
            </div>
        </div>
    </div>





</main>
</html>